extends layout/layout.pug
block content
  include blocks/menu.pug
  .container-13
    .item-1
      .item-2 Logo
      .item-3 Menu
    .item-4 Slider
    .item-5 Main
    .item-6 Content
    .item-7 Content
    .item-8 Footer
    
