extends layout/layout.pug
block content
  include blocks/menu.pug
  .container-3
    .item-1 Header
    .item-2 Main
    .item-3 Sidebar
    .item-4 Content
    .item-5 Content
    .item-6 Content
    .item-7 Footer
