extends layout/layout.pug
block content
  include blocks/menu.pug
  .container-4
    .item-1 Header
    .item-2 Sidebar
    .item-3 Main
    .item-4 Content 
    .item-5 Content
    .item-6 Content
    .item-7 Footer
