extends layout/layout.pug
block content
  include blocks/menu.pug
  .container-5
    .item-1 Header
    .item-2 Main
    .item-3 Sidebar
    .item-4
      .item-5 Content
      .item-6 Content
      .item-7 Content
    .item-8 Footer
