/*=============================================>>>>>
= Usando grid-template-areas y grid-area =
===============================================>>>>>*/
.container-4 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px auto 75px 50px;
  grid-template-areas:
    "header header header header header header"
    "sidebar sidebar main main main main"
    "content1 content1 content2 content2 content3 content3"
    "footer footer footer footer footer footer";
  grid-gap: 5px;

  .item-1 {
    background: $blue;
    grid-area: header;
  }
  .item-2 {
    background: $red;
    grid-area: sidebar;
  }
  .item-3 {
    background: $yellow;
    grid-area: main;
  }
  .item-4 {
    background: darken($bg,25);
    grid-area: content1;
  }
  .item-5 {
    background: darken($bg,15);
    grid-area: content2;
  }
  .item-6 {
    background: darken($bg,25);
    grid-area: content3;
  }
  .item-7 {
    background: $green;
    grid-area: footer;
  }
}
